Datasets
test.py
test2.py
test3.py
TempData
coyo-700m
MaliciousWebsiteFeatures24M
.env
__pycache__
other_spam_emails.csv
.qodo
EnronDatasetTests/EnronDataset
EnronDatasetTests/csv
EnronDatasetTests/models
EnronDatasetTests/preprocess
EnronDatasetTests/figs
SpamAssassinDatasetTests/easy_ham
SpamAssassinDatasetTests/hard_ham
SpamAssassinDatasetTests/spam_2
SpamAssassinDatasetTests/models
SpamAssassinDatasetTests/figs
LingspamDatasetTests/models