Datasets
test.py
test2.py
test3.py
TempData
coyo-700m
.env
__pycache__
other_spam_emails.csv
.qodo
EnronDatasetTests/EnronDataset
EnronDatasetTests/csv
EnronDatasetTests/models
EnronDatasetTests/preprocess
EnronDatasetTests/figs
SpamAssassinDatasetTests/easy_ham
SpamAssassinDatasetTests/hard_ham
SpamAssassinDatasetTests/spam_2
SpamAssassinDatasetTests/models
SpamAssassinDatasetTests/figs
LingspamDatasetTests/models
LingspamDatasetTests/figs
SMSSpamDatasetTests/figs
SMSSpamDatasetTests/models
TREC2007DatasetTests/trec07p
TREC2007DatasetTests/tt
TREC2007DatasetTests/processed_data.csv
TREC2007DatasetTests/trec07p.zip
enron_pie_chart.png
ling_pie_chart.png
spam_assassin_pie_chart.png
CNN model for phishing urls.txt
MaliciousURLDatasetTests/figs
MaliciousURLDatasetTests/models
MaliciousURLDatasetTests/malicious_phish.csv
MaliciousURLDatasetTests/malicious_phish_cleaned.csv
MaliciousURLDatasetTests/malicious_phish_preprocessed.csv
ImageSpamDatasetTests/data
ImageSpamDatasetTests/model
ImageSpamDatasetTests/SPAM IMAGE dataset